NODE_ENV=
PORT=

JWT_SECRET=
JWT_EXPIRY=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
